<div id="cart" class="btn-group btn-block">
  <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="lo_cart dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span id="cart-total">{{ text_items }}</span></button>
  <ul class="dropdown-menu pull-right">
    {% if products or vouchers %}
    <li>
      <table class="table table-striped">
        {% for product in products %}
        <div class="lo_cart-item">
          <div class="lo_cart-item__img"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></div>
          <div class="lo_cart-item__info">
            <h6 class="lo_cart-item__title">{{ product.name}} {{ product.quantity }}x</h6>
            <span class="lo_cart-item__pricing">{{ product.total }}</span>
          </div>
          <div class="lo_cart-item__control">
            <button type="button" onclick="cart.remove('{{ product.cart_id}}');" title="{{ button_remove }}" class="lo_cart-item__button"><i class="fa fa-times"></i></button>
          </div>
        </div>
        {% endfor %}
        {% for product in vouchers %}
        <div class="lo_cart-item">
          <div class="lo_cart-item__img"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></div>
          <div class="lo_cart-item__info">
            <h6 class="lo_cart-item__title">{{ product.name}}</h6>
            <span class="lo_cart-item__amount">{{ product.quantity }}</span>
            <span class="lo_cart-item__pricing">{{ product.total }}</span>
          </div>
          <div class="lo_cart-item__control">
            <button type="button" onclick="cart.remove('{{ product.cart_id}}');" title="{{ button_remove }}" class="lo_cart-item__button"><i class="fa fa-times"></i></button>
          </div>
        </div>
        {% endfor %}
      </table>
    </li>
    <li>
      <div>
        <table class="table table-bordered">
          {% for total in totals %}
          <tr>
            <td class="text-right"><strong>{{ total.title }}</strong></td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <p class="text-right"><a href="{{ cart }}"><strong><i class="fa fa-shopping-cart"></i> {{ text_cart }}</strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong><i class="fa fa-share"></i> {{ text_checkout }}</strong></a></p>
      </div>
    </li>
    {% else %}
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
</div>
